################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/ja
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/ko
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/pl
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/pt-BR
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0/ru
/BE/HospitalWeb/HospitalWeb/bin/Debug/net8.0
/BE/HospitalWeb/HospitalWeb/obj/Debug/net8.0/ref
/BE/HospitalWeb/HospitalWeb/obj/Debug/net8.0/refint
/BE/HospitalWeb/HospitalWeb/obj/Debug/net8.0
/BE/HospitalWeb/HospitalWeb/obj
/BE/HospitalWeb/.vs/HospitalWeb/DesignTimeBuild
/BE/HospitalWeb/.vs/HospitalWeb/FileContentIndex
/BE/HospitalWeb/.vs/HospitalWeb/v17/.suo
/BE/HospitalWeb/.vs/HospitalWeb/v17/DocumentLayout.backup.json
/BE/HospitalWeb/.vs/HospitalWeb/v17/DocumentLayout.json
/BE/HospitalWeb/HospitalWeb/Properties/PublishProfiles/FolderProfile.pubxml
/BE/HospitalWeb/HospitalWeb/Properties/PublishProfiles/FolderProfile.pubxml.user
/BE/HospitalWeb/HospitalWeb/Properties/PublishProfiles/FolderProfile1.pubxml
/BE/HospitalWeb/HospitalWeb/Properties/PublishProfiles/FolderProfile1.pubxml.user
/BE/HospitalWeb/.vs/HospitalWeb/config
/BE/HospitalWeb/.vs/HospitalWeb/v17
/BE/HospitalWeb/.vs/ProjectEvaluation
/FE/.env
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/cs
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/de
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/es
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/fr
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/it
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/ja
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/ko
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/pl
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/pt-BR
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/ru
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/browser/lib/net8.0
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/unix/lib/net6.0
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/win/lib/net6.0
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/win-arm/native
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/win-arm64/native
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/win-x64/native
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/runtimes/win-x86/native
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/tr
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/zh-Hans
/BE/HospitalWeb/HospitalWeb/bin/Release/net8.0/zh-Hant
